ul.nav.nav-tabs.nav-justified
	li.active(role='presentation')
		a(href='#') Inicio
	li(role='presentation')
		a(href='#') Perfil
	li(role='presentation')
		a(href='#') Mensajes
		
ul.nav.nav-pills.nav-justified
	li.active(role='presentation')
		a(href='#') Inicio
	li(role='presentation')
		a(href='#') Perfil
	li(role='presentation')
		a(href='#') Mensajes