ul.nav.nav-pills
	li.active(role='presentation')
		a(href='#') Inicio
	li(role='presentation')
		a(href='#') Perfil
	li(role='presentation')
		a(href='#') Mensajes
	li.dropdown(role='presentation')
		a.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')
			| Dropdown 
			span.caret
		ul.dropdown-menu
			li(role='presentation')
				a(href='#') Drop1.1
			li(role='presentation')
				a(href='#') Drop1.2
			li(role='presentation')
				a(href='#') Drop1.3