//Contenedor principal
.container-fuid
	//Fila
	.row
		//Grid 1 columna de 12 todos los dispositivos y tamaños
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			//Grid interno |.|.|.|.|.|.|.|.|.|.|.|.| desktop
			.col-lg-1.col-md-1
			.col-lg-1.col-md-1
			.col-lg-1.col-md-1
			.col-lg-1.col-md-1
			.col-lg-1.col-md-1
			.col-lg-1.col-md-1
			.col-lg-1.col-md-1
			.col-lg-1.col-md-1
			.col-lg-1.col-md-1
			.col-lg-1.col-md-1
			.col-lg-1.col-md-1
			.col-lg-1.col-md-1

		//Grid 1 columna de 12 todos los dispositivos y tamaños
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			//Grid interno |..|..|..|..|..|..| desktop
			.col-lg-2.col-md-2
			.col-lg-2.col-md-2
			.col-lg-2.col-md-2
			.col-lg-2.col-md-2
			.col-lg-2.col-md-2
			.col-lg-2.col-md-2

		//Grid 1 columna de 12 todos los dispositivos y tamaños
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			//Grid interno |...|...|...|...| desktop, |....|....|....| tablets y |............| mobile
			.col-lg-3.col-md-3.col-sm-4.col-xs-12
			.col-lg-3.col-md-3.col-sm-4.col-xs-12
			.col-lg-3.col-md-3.col-sm-4.col-xs-12

		//Grid 1 columna de 12 todos los dispositivos y tamaños
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			//Grid interno |......|......| desktop, |......|......| tablets y |............| mobile
			.col-lg-6.col-md-6.col-sm-6.col-xs-12
			.col-lg-6.col-md-6.col-sm-6.col-xs-12

		//Grid 1 columna de 12 todos los dispositivos y tamaños
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			//Grid interno ..|........|.. desktop y |............| mobile (desktop y tablets)
			.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-12.col-xs-12

		//Grid 1 columna de 12 todos los dispositivos y tamaños
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			//Grid interno Pull and Push
			.col-md-9.col-md-push-3
			.col-md-3.col-md-pull-9